<div class="extended-bio">
    <p>Marketing Analytics leader with a decade of startup and agency experience helping B2C and B2B businesses.</p>

    <p>I have led a wide range of marketing analytics initiatives including measurement, strategy, data architecture, and
        forecasting for both mobile and web-based products.</p>

    <p>Currently, I lead the US Analytics team at growth marketing agency, Twigeo, working with growth-focused clients
        ranging in industries from ride share to language learning.</p>

    <p>Prior to Twigeo, I helped establish and lead marketing and sales analytics at ShopKeep, which was acquired by
        Lightspeed Commerce (NYSE: LSPD) in 2020.</p>

    <p>Outside of my passion for all things data, I am an avid runner, photographer and love working on side projects to
        learn new software development languages.</p>
</div>