<div class="block items-center justify-center bg-gray-200 rounded shadow p-2">
    <div class="text-center pt-10 pb-5 border-b">
        <img class="object-cover h-56 w-56 rounded-full mx-auto mb-5" src="https://connor-phillips-website-resources.s3.amazonaws.com/head-shot.png" alt="Connor Phillips">
        <h2 class="font-serif pt-2 text-4xl font-semibold">Connor Phillips</h2>
        <p class="pt-2 text-2xl font-normal text-gray-600">contact [at] connorphillips.com</p>
    </div>
    <div class="pt-5 px-5">
        <p>New York City based marketer, developer and entrepreneur. Passionate about digital marketing, running, photography and film. In addition to working day to day as a digital marketer, he enjoys photography and programming side projects.</p>
    </div>
</div>