<div class="container mx-auto bg-gray-200 md:hidden">
    <div class="flex items-center px-5 py-2">
        <div class="pr-4">
            <img class="rounded-full" src="https://connor-phillips-website-resources.s3.amazonaws.com/profile-picture.jpg" alt="Connor Phillips">
        </div>
        <div class="pl-4">
            New York City based marketer, developer and entrepreneur. Passionate about digital marketing, running, photography and film. In addition to working day to day as a digital marketer, he enjoys photography and programming side projects.
        </div>
    </div>
</div>