<div class="container mx-auto bg-gray-200 md:hidden">
    <div class="flex items-center px-5 py-2">
        <div class="pr-4">
            <img class="rounded-full" src="https://connor-phillips-website-resources.s3.amazonaws.com/profile-picture.jpg" alt="Connor Phillips">
        </div>
        <div class="pl-4">
            {{> short-bio}}
        </div>
    </div>
</div>