<div class="flex items-center justify-center my-5">
    <div class="container mx-24 bg-gray-200 rounded shadow">
    <div class="px-12 py-6">
        <div class="text-center">
        <h1 class="font-normal text-3xl font-bold text-grey-darkest leading-loose my-3 w-full">Sign up for my monthly newsletter to receive more content like this:</h1>
        <div class="w-full text-center">
            <form action="https://connordphillips.us10.list-manage.com/subscribe/post" method="POST">
            <input type="hidden" name="u" value="46d4ca194e984dd223cf8f4b0">
            <input type="hidden" name="id" value="07980a6312">
            <div class="flex mx-auto p-1 items-center justify-center">
                <input type="email" placeholder="jdoe@example.com" class="md:w-1/3 w-full appearance-none rounded shadow p-3 text-grey-dark mr-5 focus:outline-none" name="MERGE0" >
                <button type="submit" class="appearance-none bg-aqua-500 text-white text-2xl font-bold tracking-wide uppercase p-3 rounded shadow hover:bg-aqua-800" id="newsletter-form">Subscribe</button>
            </div>
            <input type="hidden" name="ht" value="f4d21387ea9b8045322008c2db75190e5b0acd91:MTU3ODkxODQwOC43ODc1">
            <input type="hidden" name="mc_signupsource" value="hosted">
            </form>
        </div>
        </div>
    </div>
    </div>
</div>