<div class="extended-bio">
    <p>Marketing Analytics leader with a decade of startup and agency experience helping B2C and B2B businesses.</p>
    <p>Currently, I lead the US Analytics team at growth marketing agency, Twigeo, working with growth-focused clients
        ranging in industries from ride share to language learning.</p>
</div>