{{!< default}}

<div class="mx-auto mt-10">
    <div class="px-4 border-b-2">
        <h2 class="text-8xl font-black">Active</h2>
    </div>
    <h3 class="my-10">Coming Soon</h3>
    {{!-- <div class="flex flex-wrap justify-center md:justify-start">
        <div class="px-4 py-4 max-w-xl my-4">
            <div class="border-2 border-purple-700 rounded-lg mb-6 tracking-wide" >
                <div class="md:flex-shrink-0">
                    <img src="https://ik.imagekit.io/q5edmtudmz/post1_fOFO9VDzENE.jpg" alt="mountains" class="w-full h-64">
                </div>
                <div class="px-4 py-2 mt-2">
                    <h2 class="font-bold text-5xl tracking-normal mb-4 text-purple-700"><a href="#" class="hover:text-purple-800">Understand Your Sleep</a></h2>
                    <p class="text-sm text-gray-700 px-2 mr-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora reiciendis ad architecto at aut placeat quia, minus dolor praesentium officia maxime deserunt porro amet ab debitis deleniti modi soluta similique...
                    </p>
                    <div class="flex items-center justify-between mt-2">
                        <p class="text-purple-700 font-semibold"><a href="#" class="text-md pl-2 hover:text-purple-800">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-4 py-4 max-w-xl my-4">
            <div class="border-2 border-red-700 rounded-lg mb-6 tracking-wide" >
                <div class="md:flex-shrink-0">
                    <img src="https://ik.imagekit.io/q5edmtudmz/post1_fOFO9VDzENE.jpg" alt="mountains" class="w-full h-64">
                </div>
                <div class="px-4 py-2 mt-2">
                    <h2 class="font-bold text-5xl tracking-normal mb-4 text-red-600"><a href="#" class="hover:text-red-800">Data Analyst Academy</a></h2>
                    <p class="text-sm text-gray-700 px-2 mr-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora reiciendis ad architecto at aut placeat quia, minus dolor praesentium officia maxime deserunt porro amet ab debitis deleniti modi soluta similique...
                    </p>
                    <div class="flex items-center justify-between mt-2">
                        <p class="text-red-600 font-semibold"><a href="#" class="text-md pl-2 hover:text-red-800">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <div class="flex px-4 border-b-2">
        <h2 class="text-8xl font-black">Inactive</h2>
    </div>
    <div class="flex flex-wrap justify-center md:justify-start">
        <div class="px-4 py-4 max-w-xl my-4">
            <div class="border-2 border-orange-500 rounded-lg mb-6 tracking-wide" >
                <div class="md:flex-shrink-0">
                    <img src="https://s3.amazonaws.com/ghost-blogpost-images/2020/11/synotate-logo.png" alt="mountains" class="w-full h-64">
                </div>
                <div class="px-4 py-2 mt-2">
                    <h2 class="font-bold text-5xl tracking-normal mb-4 text-orange-500"><a href="/portfolio/synotate/" class="hover:text-orange-800">Synotate</a></h2>
                    <p class="text-2xl text-gray-700 px-2 mr-1">
                        Data analysis platform that helped businesses save on time and resources by acting as a central repository of data annotations related to test results and trends found in data analysis.
                    </p>
                    <div class="flex items-center justify-between mt-2">
                        <p class="text-orange-500 font-semibold"><a href="/portfolio/synotate/" class="text-md pl-2 hover:text-orange-800">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="px-4 py-4 max-w-xl my-4">
            <div class="border-2 border-green-500 rounded-lg mb-6 tracking-wide" >
                <div class="md:flex-shrink-0">
                    <img src="https://ik.imagekit.io/q5edmtudmz/post1_fOFO9VDzENE.jpg" alt="mountains" class="w-full h-64">
                </div>
                <div class="px-4 py-2 mt-2">
                    <h2 class="font-bold text-5xl tracking-normal mb-4 text-green-500"><a href="#" class="hover:text-green-800">Campus Taps</a></h2>
                    <p class="text-sm text-gray-700 px-2 mr-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora reiciendis ad architecto at aut placeat quia, minus dolor praesentium officia maxime deserunt porro amet ab debitis deleniti modi soluta similique...
                    </p>
                    <div class="flex items-center justify-between mt-2">
                        <p class="text-green-500 font-semibold"><a href="#" class="text-md pl-2 hover:text-green-800">Read More</a></p>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>
</div>